[Unit]
Description=GPU monitor RRD plugin
After=xcp-rrdd.service syslog.target
Requires=xcp-rrdd.service
Wants=syslog.target

[Service]
Environment=OCAMLRUNPARAM=b
ExecStart=/opt/xensource/libexec/xcp-rrdd-plugins/xcp-rrdd-gpumon
SuccessExitStatus=0 2
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
