[Unit]
Description=XCP RRD daemon squeezed plugin
After=xcp-rrdd.service
Requires=xcp-rrdd.service

[Service]
ExecStart=/opt/xensource/libexec/xcp-rrdd-plugins/xcp-rrdd-squeezed
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
